/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-green-200;
  }

  .fieldset {
    @apply border rounded-lg px-8 py-2 flex gap-x-4;
  }

  #overlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}